<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/fotodeperfil.jpeg" class="img-fluid" id="fotodeperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
      <h4>Full Stack Developer Jr.</h4>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
          <h1>Acerca de mí:</h1>
          <p>Persona emprendedora, me gusta aprender constantemente, la musica y hacer deportes. Actualmente aprendiendo programacion con el objetivo de incorporarme en su mundo.</p>
      </span>
  </div>
</div>
