.row {
  padding: 10px;
  background-color: rgb(17, 17, 17);
}
div {
  background-color: rgb(17, 17, 17);
  text-align: center;
}
/*Estilo de la foto de perfil*/
@media (min-width: 576px) {
  #fotodeperfil {
    position: absolute;
    width: 13%;
    border-radius: 3%;
    /* box-shadow: 1px 1px 1px #7a889c; */
    left: 3%;
    top: 750px;
  }
}
@media (max-width: 575px) {
  #fotodeperfil {
    position: absolute;
    width: 15%;
    border-radius: 10%;
    box-shadow: 1px 1px 1px #636d7d;
    left: 33%;
    top: 950px;
  }
}

/*etiqueta nombre*/
#nombre {
  font-weight: bold;
  margin-top: 30%;
}

p,
h1,
h4 {
  color: #e9ecef;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}

p {
  color: #727a82;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}
