<div class="row">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/APLogo.png" id="logoAP" />
    </div>
    <div class="redes">
      <a href="/ingresar"
      ></a>
      <a href="https://www.linkedin.com/in/patricio-balardini-b96b1015b/"><img src="../../../assets/linkedin.png" id="linkedin" /></a>
      <a href="https://twitter.com/PatricioB92"><img src="../../../assets/twitter.png" id="twitter" /></a>
      <a href="https://www.instagram.com/patriciobalardini/"><img src="../../../assets/instagram.png" id="instagram" /></a>
      <a href="https://github.com/PatricioBalardini"><img src="../../../assets/github.png" id="github" /></a>
      <a href="https://www.facebook.com/patricio.balardini/"><img src="../../../assets/facebook.png" id="facebook" /></a>
      <button
        type="button"
        class="btn btn-outline-light btn-sm"
        (click)="ingresar()"
        *ngIf="!isLogged"
      >
        INGRESO
      </button>
      <button
        type="button"
        class="btn btn-outline-light btn-sm"
        (click)="onLogOut()"
        *ngIf="isLogged"
      >
        CERRAR SESION
      </button>
    </div>
  </div>
</div>
